<h1>Song Playlist {{23600 | currency}}</h1>
<button class="text-center btn btn-lg btn-info" ng-click="vm.openCreateModal()">ADD SONG TO PLAYLIST</button>
<div class="row text-center">
	<div class=" col-sm-3" ng-repeat="song in vm.playlist track by $index" id="songBox">
		<div><img class="img img-rounded" src="{{song.image}}" height="99" width="99" />

		</div>
		<div>
			<h3>{{song.title}}</h3> - {{song.artist}}
		</div>
		<div id="buttons">
			<button class="btn btn-warning" ng-click="vm.openEditModal($index)"><span class="glyphicon glyphicon-pencil"></span></button>
			<button class="btn btn-danger" ng-click="vm.deleteSong(song._id)"><span class="glyphicon glyphicon-trash"></span></button>
			<button class="btn btn-info" ng-click="vm.openAddImage($index)"><span class="glyphicon glyphicon-picture"></span></button>
		</div>

	</div>

</div>


